.lead {
  align-items: center;
  text-align: center;
  max-height: 1005px;
  margin: 56px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1041px) {
  .lead {
    max-width: 928px;
    margin: 48px auto 0;
    width: 100%;
  }
}

@media screen and (max-width: 785px) {
  .lead {
    max-width: 768px;
    width: 100%;
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 337px) {
  .lead {
    max-width: 320px;
    width: 100%;
  }

}