.lead__title {
  color: #FFFFFF;
  font-family: 'Inter Black', Arial, sans-serif;
  font-style: normal;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  max-height: 200px;
  text-align: center;
}

@media screen and (max-width: 788px) {
  .lead__title {
    max-width: 720px;
    margin: 0 24px 0;
    font-size: calc(40px + (96 - 40) * (100vw - 320px) / (768 - 320));
    line-height: 1;
  }
}

@media screen and (max-width: 340px) {
  .lead__title {
    max-width: 288px;
    line-height: 44px;
    margin: 0 16px 0;
  }

}