.lead__title {
    display: block;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    padding: 0;
    margin: 48px auto 0;
    font-family: 'Inter-Black', Arial, sans-serif;
}