.place__paragraph {
    margin: 0 0 26px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 1044px) {
    .place__paragraph {
        margin: 0 0 27px 0;
    }
}

@media screen and (max-width: 788px) {
    .place__paragraph {
        max-width: 440px;
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .place__paragraph {
        max-width: 700px;
    }
}

@media screen and (max-width: 340px) {
    .place__paragraph {
        max-width: 288px;
        margin: 0 0 23px 16px;
    }

    .place__paragraph:last-child {
        max-width: 288px;
        margin: 0 0 0 16px;
    }

}