.cover__title {
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  color: #FFFFFF;
  margin: 25px auto 0;
  max-width: 560px;
  font-family: 'Inter Black', Arial, sans-serif;
  text-align: center;
}

@media screen and (max-width: 785px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * (100vw - 320px) / (785 - 320));
  }

}

@media screen and (max-width: 337px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
  }

}