.place {
    display: grid;
    grid-template-columns: minmax(460px, 1fr);
    margin-bottom: 80px;
    grid-gap: 48px 40px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1044px) {
    .place {
        grid-gap: 48px 32px;
        grid-template-columns: minmax(440px, 1fr);
    }
}

@media screen and (max-width: 788px) {
    .place {
        grid-gap: 48px 28px;
        grid-template-columns: minmax(340px, 1fr);
        margin-bottom: 70px;
    }

}

@media screen and (max-width: 623px) {
    .place {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 340px) {
    .place {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        gap: 33px;
    }

}