.footer {
    display: flex;
    margin-top: 92px;
    margin: 0 auto;
    max-width: 1184px;
    justify-content: space-between;
    padding: 0 48px 24px;
}

@media screen and (max-width: 1044px) {
    .footer {
        max-width: 928px;
    }

}

@media screen and (max-width: 788px) {
    .footer {
        max-width: 768px;
        padding: 0 24px 24px;
    }

}

@media screen and (max-width: 340px) {
    .footer {
        flex-direction: column;
        max-width: 186px;
        margin: 55px 118px 24px 16px;
        padding: 0 0 24px;
    }

}