.header__lang-links {
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  text-decoration: none;
  gap: 18px;
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 340px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 20px;
  }

}