.place__website {
    align-self: end;
    justify-self: start;
    grid-column: 2;
    grid-row: 1;
}

@media screen and (max-width: 337px) {
    .place__website {
        align-self: flex-start;
        margin-left: 16px;
    }
    
}