.photo {
    margin: 0;
    padding: 92px 48px 0;
    width: 100%;
    max-width: 1184px;
}

@media screen and (max-width: 1041px) {
    .photo {
      max-width: 928px;
    }
  }

@media screen and (max-width: 785px) {
    .photo {
      max-width: 720px;
      padding: 88px 24px 0;
    }
  }
  